services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: permit
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog:latest
    container_name: permit-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  pg_data:
